*{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	background-color: #DDD;
	box-shadow: 0 2px 12px 0 #AAA;
}
ul li {
	cursor: pointer;
	padding: 1rem;
	
}
ul li.active {
	background-color: #CCC;
}
ul li:hover {
	background-color: #AAA;
}
[data-content] {
	margin-top: 60px;
	text-align: center;
	display: none;
}
.active[data-content] {
	display: block;
}
[data-content] h1 {
	border-bottom: 1px solid orangered;
	max-width: 30%;
	margin: 0 auto;
	margin-bottom: 50px;
	padding-bottom: 20px;
}
[data-content] p {
	letter-spacing: 2px;
	max-width: 70%;
	margin: auto;
	line-height: 1.4rem;
	color: #777;
}